<h1 class="fer-blk brownish-f tsa text-center">Add New Course</h1>
<div class="col-lg-8 offset-lg-2 col-12 offset-0">
	<%= simple_form_for @course, url: instructor_courses_path do |f| %>
		<%= f.input :title %>
		<%= f.input :description %>
		<%= f.input :cost %>
		<%= f.input :image %>
		<br />
		<%= f.submit "Create", class: 'btn btn-primary brownish-b' %>
		<br />
	<% end %>
</div>