<br />

<script>
  $(function() {
    $('.lessons').sortable({
	    update: function( event, ui ) {
	    	$.ajax({
	    		type: 'PUT',
	    		url: ui.item.data('update-url'),
	    		dataType: 'json',
	    		data: { lesson: { row_order_position: ui.item.index() } }
	    	});
	    }
  	});
  });
</script>

<div class="booch-box col-10 offset-1 p-4 my-5 off-white-b bs">
	<h1 class="text-center fer-blk brownish-f tsa"><%= current_course.title %> <span class="badge badge-default off-white-f green-b"><%= number_to_currency current_course.cost %></span></h1>
  <% if current_course.image = nil %>
	<%= image_tag current_course.image.url, class: 'img-fluid' %>
	<% end %>
	<div class="container">
	  <div class="row">
	    <div class="col text-center mt-3 mb-4">
					<%= link_to new_instructor_course_section_path(current_course), class: 'btn btn-primary brownish-b btn-large off-white-f droid' do %>
						<i class="fas fa-plus-circle"></i>
						Section
					<% end %>
					<%= link_to course_path(current_course), class: 'btn btn-primary btn-large brownish-b off-white-f droid' do %>
						<i class="fas fa-glasses"></i>
						Preview
					<% end %>
	    </div>
	  </div>

		<div class="row">
			<div class="col-md-10 col-12">
				<p class="droid"><%= current_course.description %></p>
			</div>
			<div class="col-md-6 offset-md-3 col-12 offset-0 ">
				<% current_course.sections.each do |section| %>
					<div class="row">
						<div class="col-sm-6"><h4 class="brownish-f tsa"><span class="align-middle"><%= section.title %></span></h4></div>
						<div class="col-sm-6 text-center">
						<% if current_user && current_user == current_course.user %>
					  	<%= link_to new_instructor_section_lesson_path(section), class: 'btn btn-primary brownish-b btn-sm off-white-f droid' do %>
								<i class="fas fa-plus-circle"></i>
								Lesson
							<% end %>
						<% end %>
						</div>
					</div>

					  <div class="row">
							<ul class="lessons list-group col-12">
							<% section.lessons.rank(:row_order).each do |lesson| %>
										<li class="list-group-item" data-update-url=<%= lesson.id %>>
											<div class=" col-12 brownish-b text-center bs p-2 mx-auto btn mb-4">
											  <%= link_to lesson_path(lesson) do %>
													<h5 class="off-white-f tsa"><b><%= lesson.title %></b></h5>
												<% end %>
												<div class="cream-b h-auto p-2">
											  	<p class="droid-bi"><%= lesson.subtitle %></p>
											  </div>
											</div>
										</li>

						  <% end %>
							</ul>

						</div>

				<% end %>
			</div>
		</div>
	</div>
</div>
