<h1 class="brownish-f tsa text-center">Enrolled Classes</h1>
<hr class="col-8 offset-2 mb-4" />
<div class="row">
	<% current_user.enrolled_courses.each do |course| %>
		<div class="col-lg-4 col-12 text-center float-left">
			<div class="p-2">
		  	<h3><%= link_to course.title, course_path(course), class: 'brownish-f fer-blk tsa mb-2' %></h3>
		  		<div class="col-12">
						<% if course.image.url.present? %>
							<%= image_tag course.image.url, class: 'img-fluid text-center round-img' %>
						<% else %>
							<%= image_tag 'default.jpg', class: 'img-fluid text-center round-img' %>
						<% end %>
					</div>
	  		<div class="col-12 mt-2">
		   	  <p class="text-left"><%= course.description %></p>
	        	<%= link_to "Details", course_path(course), class: 'btn btn-sm brownish-b float-right off-white-f' %>
		 		</div>
			</div>
		</div>
	<% end %>
</div>
<h1 class="brownish-f tsa text-center">My Lessons</h1>
<hr class="col-8 offset-2 mb-4" />
<div class="row">
	<% current_user.courses.each do |course| %>
		<div class="col-lg-4 col-12 text-center float-left">
			<div class="p-2">
		  	<h3><%= link_to course.title, instructor_course_path(course), class: 'brownish-f fer-blk tsa mb-2' %></h3>
	  		<div class="col-12">
					<% if course.image.url.present? %>
						<%= image_tag course.image.url, class: 'img-fluid text-center round-img' %>
					<% else %>
						<%= image_tag 'default.jpg', class: 'img-fluid text-center round-img' %>
					<% end %>
				</div>
		  	<div class="col-12">
			    <p class="text-left"><%= course.description %></p>
	        <%= link_to "Details", instructor_course_path(course), class: 'btn btn-sm brownish-b float-right off-white-f' %>
		  	</div>
			</div>
		</div>
	<% end %>
</div>