<h1 class="fer-blk brownish-f tsa text-center">Time to Heighten Your Senses</h1>
<div class="row">
	<% @courses.each do |course| %>
		<div class="col-md-4 col-12">
			<div class="courses br m-4 p-3">
				<h3><%= link_to course.title, course_path(course), class: 'fer-blk brownish-f tsa' %></h3>
						<% if course.image.url.present? %>
							<%= image_tag course.image.url, class: 'img-fluid text-center round-img' %>
						<% else %>
							<%= image_tag 'default.jpg', class: 'img-fluid text-center round-img' %>
						<% end %>
					<div class="row pt-4">
						<div class="col-12">
							<p class="droid-b black text-left ml-1"><%= course.description[0..200].gsub(/\s\w+\s*$/,'...') %></p>
						</div>
						<div class="col-12">
							<%= link_to 'Details', course_path(course), class: 'btn btn-primary btn-sm float-right fer-blk brownish-b' %>
						</div>
					</div>
			</div>
		</div>
	<% end %>
</div>