<br />
<div class="booch-box col-10 offset-1 p-4 my-5 off-white-b bs">
	<h1 class="text-center fer-blk brownish-f tsa"><%= @course.title %>
		<span class="badge badge-default off-white-f green-b"><%= number_to_currency @course.cost %></span>
			<% if current_user && current_user.enrolled_in?(@course) %>
				<span class="badge badge-info"> You are enrolled!</span>
			<% else %>
				<%= link_to course_enrollments_path(@course), class: 'btn btn-primary brownish-b btn-large droid', method: :post do %>
					<i class="fas fa-chalkboard"></i>
					Enroll
				<% end %>
			<% end %>
		</h1>
		<% if current_user && current_user == @course.user %>
			<%= link_to instructor_course_path(@course), class: 'btn btn-primary brownish-b btn-large droid' do %>
				<i class="fas fa-cog"></i>
				Administer
			<% end %>
		<% end %>
 		<%= image_tag @course.image.url, class: 'img-fluid' %>
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-12">
					<p class="droid"><%= @course.description %></p>
				</div>
				<% @course.sections.each do |section| %>
					<div class="col-md-10 offset-md-1 col-12 offset-0 section off-white-b btn mt-3">
							<div class="col-sm-12 text-center"><h3 class="brownish-f tsa"><%= section.title %></h3></div>
						<div class="row d-flex justify-content-between">
						<% section.lessons.each do |lesson| %>
								<div class="col-sm-5 brownish-b text-center bs p-2 mx-auto btn">
								  <%= link_to lesson_path(lesson) do %>
										<h5 class="off-white-f tsa"><b><%= lesson.title %></b></h5>
									<% end %>
									<div class="cream-b h-auto p-2">
								  	<p class="droid-bi"><%= lesson.subtitle %></p>
								  </div>
								</div>
							<% end %>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>