<br />
<div class="booch-box col-10 offset-1 p-4 my-5 off-white-b bs">
	<h1 class="text-center fer-blk brownish-f tsa"><%= @course.title %> <span class="badge badge-default off-white-f green-b"><%= number_to_currency @course.cost %></span></h1>
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-12">
				<p class="droid"><%= @course.description %></p>
			</div>
		</div>
		<div class="row">
			<% @course.sections.each do |section| %>
			<div class="col-md-8 offset-md-2 col-12 offset-0 ">
				<dl class="row">
				  <dt class="col-sm-4"><h4 class="brownish-f tsa">LESSONS:</h4></dt>
				  <dd class="col-sm-8"></dd>
				  <% section.lessons.each do |lesson| %>
				  <dt class="col-sm-4"><p><b><%= lesson.title %></b></p></dt>
				  <dd class="col-sm-8"><p><%= lesson.subtitle %></p></dd>
				  <% end %>
				</dl>
				<% end %>
			</div>
		</div>
	</div>
