<!DOCTYPE html>
<html>
  <head>
    <title>Flixter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="http://vjs.zencdn.net/5.12.6/video-js.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
<body>
  <%= render partial: "/layouts/header" %>
  <% unless current_page?(root_path) %>
    <div class="booch-box col-10 offset-1 p-lg-4 p-2 my-5 off-white-b bs">
      <% if notice.present? %>
      <p class="alert alert-info"><%= notice %></p>
      <% end %>
      <% if alert.present? %>
      <p class="alert alert-danger red"><%= alert %></p>
    <% end %>
    <%= yield %>
    </div>
    </div>
  <% else %>
    <div class="hero off-white-f pt-5">
      <div class=" col-md-7 offset-md-5 col-10 offset-1 mt-md-5 pb-1 frosty">
        <h1 class="tsa">Help frustrate telemarketing scammers.</h1>
        <h2 class="tsa">We help you, help others.</h2>
        <%= link_to 'Learn More', '#', class: 'btn btn-success float-right' %><br /><br />
      </div>
    </div> 
    <div class="container px-lg-1">
      <div class="row text-center py-3 mx-xs-1 mx-sm-0">
        <div class="col-12 col-sm cream-b pt-3">
          <h3 class="brownish-f tsa">Amazing Tools</h3>
          <p>Choose these tools to help bring comabt toxic scammers.</p>
        </div>

        <div class="col-12 col-sm off-white-b pt-3 mx-xs-0 mx-sm-1">
          <h3 class="brownish-f tsa">At Your Own Leisure</h3>
          <p>Follow our lead before creating your own recipe for destruction</p>
        </div>

        <div class="col-12 col-sm cream-b pt-3">
          <h3 class="brownish-f tsa">Join the Internet Army</h3>
          <p>Learn with a community of like-minded individuals.</p>
        </div>
      </div>
    </div>
  <% end %>
<%= render partial: "/layouts/footer" %>
<script src="https://vjs.zencdn.net/5.12.6/video.js"></script>
<script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>   
  </body>
</html>